body {background-color: black;}
h1 {font-weight: normal;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 50px;
text-align: center;
color: #fff;}

.divert {width: 100%;
border: #fff;
border-style: dashed;
border-color: red;
align-items: center;
display: flex;}

.newone {color: aquamarine;
font-size: 16px;
text-align: center;}
